@font-face{
  font-family:'Apercu';
  src:url(../fonts/Apercu/Apercu-Regular.eot);
  src:url(../fonts/Apercu/Apercu-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Regular.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Regular.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Regular.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Regular.svg#Apercu-Regular) format("svg");
  /* font-weight: 300; */
  font-style: normal
}

@font-face{
  font-family:'Apercu-Light';
  src:url(../fonts/Apercu/Apercu-Light.eot);
  src:url(../fonts/Apercu/Apercu-Light.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Light.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Light.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Light.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Light.svg#Apercu-Light) format("svg");
  /* font-style: normal */
}

@font-face{
  font-family:'Apercu-Bold';
  src:url(../fonts/Apercu/Apercu-Bold.eot);
  src:url(../fonts/Apercu/Apercu-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Bold.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Bold.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Bold.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Bold.svg#Apercu-Bold) format("svg");
}

@font-face{
  font-family:'Apercu-Italic';
  src:url(../fonts/Apercu/Apercu-Italic.eot);
  src:url(../fonts/Apercu/Apercu-Italic.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Italic.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Italic.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Italic.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Italic.svg#Apercu-Italic) format("svg");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  font-family: Apercu;
  color: rgba(255,255,255,.75);
  background-color: rgb(25,25,25);
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.emoji {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: contain;
  margin: 0 10px;
  background-position: center;
}

header.intro {
  /* sets the height to 100% of the viewport */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 3px solid #A18728; */
  font-family: Apercu;
  justify-content: space-between;
  max-width: 1080px;
}

header.intro h1.intro__hello {
  display: block;
  margin-left: 100px;
  margin-top: 150px;
  border: 3px solid #E18728;
  max-width: 500px;
  font-size: 3rem;
}

header.intro h2.intro__paragraph {
  display: block;
  font-family:Apercu-Light;
  /* border: 3px solid #E18728; */
  font-weight: 300;
  max-width: 500px;
  margin-left: 100px;
  font-size: 1.2rem;

}


header.intro h2.intro__paragraph .name {
  font-family: Apercu-Bold;
  font-weight: 300;
}

header.intro h3.intro__under {
  display: block;
  font-family: Apercu-Light;
  font-weight: 300;
  max-width: 700px;
  margin-left: 100px;
  margin-bottom: 100px;
  font-size: 1rem;
}

header.intro h3.intro__under .emoji.snek {
  background-image: url(../images/snek.png);
}

header.intro h3.intro__under .emoji.coffee {
  background-image: url(../images/coffee.png);
}

header.intro #odometer {
  /* border: 3px solid #E18728; */
  font-family:Apercu-Light;
  max-width: 60px;
}

header.intro .odometer-text {
  /* border: 3px solid #E18728; */
  margin-left: 5px;
}

.section {
  display: flex;
  justify-content: center;
  /* margin-top: 150px;
  margin-left: 100px; */
}

section.aboutme {
  /* border: 3px solid #E18728; */
  display: block;
  font-family:Apercu;
  margin-top: 150px;
  margin-left: 100px;
}

section.aboutme .aboutme__title {
  /* border: 3px solid #E18728; */
  max-width: 800px;
  font-size: 3rem;
  /* text-decoration: underline; */
}

section.aboutme .aboutme__background {
  /* border: 3px solid #E18728; */
  max-width: 800px;
  display: block;
  font-family: Apercu-Light;
  text-align: left;
}

section.experience {
  display: block;
  font-family: Apercu;
  margin-top: 150px;
  margin-left: 100px;
}

section.experience .experience__title {
  max-width: 800px;
  font-size: 3rem;
}

section.experience .experience__total {
  /* border: 3px solid #E18728; */
  max-width: 1040px;
}

section.experience .experience__total .experience__details {
  margin-top: 50px;
}

section.experience .experience__total .experience__details .experience_company {
  font-family: Apercu-Bold;
  font-weight: 300;
}
section.experience .experience__total .experience__details .experience_timerange {
  font-family: Apercu-Italic;
  float: right;
}
section.experience .experience__total .experience__details .experience_position {
  font-family: Apercu-Light;
  display: block;
}

section.skills {
  display: block;
  font-family:Apercu;
  margin-top: 150px;
  margin-left: 100px;
  max-width: 800px;
}

section.skills .skills__title {
  /* max-width: 800px; */
  margin-bottom: 80px;
  font-size: 3rem;
}

section.skills .skills__total:after {
  /* border: 3px solid #E18728; */
  max-width: 1040px;
  display: table;
  content: "";
  clear: both;
}

section.skills .skills__languages ul {
  padding: 0;
  list-style-type: none;
  color: rgb(76, 217, 100);
  font-family: Apercu-Light;
  font-weight: 50;
}
section.skills .skills__tools ul {
  padding: 0;
  list-style-type: none;
  color: rgb(90, 200, 250);
}
section.skills .skills__knowledge ul {
  padding: 0;
  list-style-type: none;
  color: rgb(255, 45, 85);
}

section.skills .skills__languages .heading {
  font-family: Apercu-Bold;
  font-weight: 300;
  text-decoration: underline;
}

section.skills .skills__tools .heading {
  font-family: Apercu-Bold;
  font-weight: 300;
  text-decoration: underline;
}

section.skills .skills__knowledge .heading {
  font-family: Apercu-Bold;
  font-weight: 300;
  text-decoration: underline;
}

section.skills .skills__languages {
  float: left;
  width: 33.33%;
}
section.skills .skills__tools {
  float: left;
  width: 33.33%;
}
section.skills .skills__knowledge {
  float: left;
  width: 33.33%;
}

@media screen and (max-width: 600px) {

  section.skills ul {
    padding: 0;
    list-style-type: none;
  }
  section.skills .skills__languages .heading {
    font-family: Apercu-Bold;
    font-weight: 300;
    text-decoration: underline;
    color: rgb(76, 217, 100);
  }

  section.skills .skills__tools .heading {
    font-family: Apercu-Bold;
    font-weight: 300;
    text-decoration: underline;
    color: rgb(90, 200, 250);
  }

  section.skills .skills__knowledge .heading {
    font-family: Apercu-Bold;
    font-weight: 300;
    text-decoration: underline;
    color: rgb(255, 45, 85);
  }

  section.skills .skills__languages {
    width: 100%;

  }
  section.skills .skills__tools {
    width: 100%;
  }
  section.skills .skills__knowledge {
    width: 100%;
  }
}

section.projects {
  display: block;
  font-family:Apercu;
  margin-top: 150px;
  margin-left: 100px;
  max-width: 1040px;
}

section.projects .projects__title {
  max-width: 800px;
  font-size: 3rem;
}

section.projects .projects__total {
  margin-top: 80px;
}

section.projects .projects__total .project__details .project_name {
  font-family: Apercu-Bold;
  font-size: 2rem;
}

section.projects .projects__total .project__details .project_github {
  font-family: Apercu-Light;
  float: right;
}

section.projects .projects__total .project__details .project_description {
  display: block;
  font-family: Apercu-Light;
}

section.projects .projects__total .project__details {
  margin-top: 50px;
}

section.projects .projects__total .project__details ul {
  font-family: Apercu-Light;
  list-style-type: none;
  display: inline;
}

/* section.projects .projects__total .project__details li {
  display: inline;
  margin-top: 30px;
} */

section.projects .projects__total .project__details li.item_language {
  display: inline;
  margin-top: 30px;
  color: rgb(76, 217, 100);
}

section.projects .projects__total .project__details li.item_tool {
  display: inline;
  margin-top: 30px;
  color: rgb(90, 200, 250);
}

section.projects .projects__total .project__details li.item_knowledge {
  display: inline;
  margin-top: 30px;
  color: rgb(255, 45, 85);
}
