@font-face{
  font-family:'Apercu';
  src:url(../fonts/Apercu/Apercu-Regular.eot);
  src:url(../fonts/Apercu/Apercu-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Regular.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Regular.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Regular.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Regular.svg#Apercu-Regular) format("svg");
  /* font-weight: 300; */
  font-style: normal
}

@font-face{
  font-family:'Apercu-Light';
  src:url(../fonts/Apercu/Apercu-Light.eot);
  src:url(../fonts/Apercu/Apercu-Light.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Light.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Light.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Light.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Light.svg#Apercu-Light) format("svg");
  /* font-style: normal */
}

@font-face{
  font-family:'Apercu-Bold';
  src:url(../fonts/Apercu/Apercu-Bold.eot);
  src:url(../fonts/Apercu/Apercu-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Apercu/Apercu-Bold.woff2) format("woff2"),
  url(../fonts/Apercu/Apercu-Bold.woff) format("woff"),
  url(../fonts/Apercu/Apercu-Bold.ttf) format("truetype"),
  url(../fonts/Apercu/Apercu-Bold.svg#Apercu-Bold) format("svg");
  /* font-style: normal */
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

header {
  height: 100vh;
}

body {
  line-height: 1.5;
  font-family: Apercu;
  color: rgba(255,255,255,.75);
  background-color: rgb(25,25,25);
}

span {
  font-family:Apercu;
}

.emoji {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-size: contain;
  margin: 0 10px;
  /* vertical-align: text-top; */
  background-position: center;
}

.intro {
  /* sets the height to 100% of the viewport */
  /* height: 100vh; */
  width: 60%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid #A18728;
  font-family:Apercu;
  font-size: 1.5rem;
}

.intro h1.intro__hello {
  margin-left: 100px;
  margin-top: 150px;
  align-self: stretch;
  border: 3px solid #E18728;
  width: 55%;
}

.intro h2.intro__paragraph {
  /* margin: auto; */
  align-self: stretch;
  font-family:Apercu-Light;
  border: 3px solid #E18728;
  font-weight: 300;
  width: 80%;
  margin-left: 100px;
}

.intro.h2.intro__paragraph.name {
  font-family: Apercu-Bold;
  font-weight: 100;
}

.intro h3.intro__under {
  align-self: stretch;
  font-family: Apercu-Light;
  border: 3px solid #E18728;
  font-weight: 300;
  width: 70%;
  margin-left: 100px;
  font-size: 1.5rem;
}

.intro h3.intro__under .emoji.snek {
  background-image: url(../images/snek.png);
}

.intro h3.intro__under .emoji.coffee {
  background-image: url(../images/coffee.png);
}

#odometer {
  border: 3px solid #E18728;
  display: inline-flex;
  font-family:Apercu-Light;
  width: 4%;
  font-size: 2vw;
  vertical-align: text;

}

.odometer-text {
  border: 3px solid #E18728;

}

section.aboutme {
  display: inline-flex;
  font-family:Apercu;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 100px;
}

section.aboutme.aboutme__title {
  font-size: 2rem;
}
