<section class="aboutme">
  <div class="aboutme__title">About me</div>
  <div class="aboutme__background">
    <p>I am a software engineer with a love for building, putting out fires before they become infernos, and reading and contributing to open source technologies.</p>
    <p>I graduated from Swarthmore College in May 2018 with a Bachelor of Arts in Computer Science and a
      minor in Biology. I am a 2018 Venture for America Fellow, Howard Hughes Medical Institute Research Grant
      recipient, and Sigma Xi Research society member. I enjoy constantly challenging myself
      to improve my skills as an engineer, as well as staying up to date with
      the latest best practices and releases.</p>
  </div>
</section>
