<header class="intro">
  <h1 class="intro__hello">
    <p class="line-1 anim-typewriter">Hello World!</p>
  </h1>
  <div class="night_mode">
    <span class="emoji moon"></span>
    <span>Late night? Click the moon to toggle night mode.</span>
  </div>
  <h2 class="intro__paragraph">
    Welcome to my personal page! My name is <span class="name">Robert Hwang</span>. I'm a fullstack software engineer at <span class="name">Astronomer</span>, passionate about learning new technologies and applying the principles I learn to all of my new pursuits. Also, yes I consistently update the coffee counter at the bottom.
  </h2>
  <a class="email_text" href="mailto:robert.t.hwang@gmail.com">
    <span class="intro__contact">Let's talk! <span class="emoji email"></span></span>
  </a>
  <h3 class="intro__under">
    <span>Python developer</span>
    <span class="emoji snek"></span>
    <div class="vertical_space"></div>
    <span>Coffee Enthusiast</span>
    <span class="emoji coffee"></span>
    <div class="vertical_space"></div>
    <span id="odometer" class="odometer">0</span><span class="odometer-text">cups of coffee consumed in 2019.</span>
  </h3>
</header>
